
@{
    ViewBag.Title = "DangKyThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ĐĂNG KÝ THÀNH CÔNG</h2>
<h4>Chúng tôi sẽ liên lạc với quý khách trong thời gian gần nhất.Thời gian chậm nhất là sau 3 ngày. Xin cám ơn quý khách.</h4>
<a href="@Url.Action("Index","TOUR")">Tiếp tục đặt tour</a>

